# === AWS CDK ===
cdk.out/
infra-cdk/cdk.out/
.cdk.staging/
.config/

# === Git ===
.git
.gitignore

# === Python локальний кеш та середовище ===
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# === IDEs ===
.vscode/
.idea/

# === Локальні секрети ===
.env
*.pem
