# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments (Poetry & Venv)
.venv/
venv/
ENV/
env/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dirs
wandb/
tests/data/

# Secrets
.env
auth.json
